---
 import Section from "@/components/Section.astro"
 import { work } from "@cv"
---
<Section title="Experencia laboral"> 
    <ul>
        {work.map (({name, startDate, endDate, position, summary, highlights, skills, description}) => {

            const startYear = new Date(startDate).getFullYear()
            const endYear = endDate != null ? new Date(endDate).getFullYear() : "Actual"
            const years = `${startYear} - ${endYear}`

            const summaryArray = Array.isArray(summary) ? summary : [summary]

            const skillsArray = Array.isArray(skills) ? skills : [skills]

            return (
                <li>
                    <article>
                        <header>
                            <div class="job-info">
                                <div class="name-skills">
                                    <h3>{name}</h3>
                                    <div class="skills">
                                        {skillsArray.length > 0 ? skillsArray.map((skill) => (
                                            <span>{skill}</span>
                                        )) : null}
                                    </div>
                                </div>
                            </div>
                            <time>{years}</time>
                        </header>

                        <footer>
                            <h4>{position}</h4>
                            <p class="description-skills">{description}</p>                            
                            <ul>
                                {summaryArray.map((item) => (
                                    <li>
                                        <p>• {item}</p>
                                    </li>
                                ))}
                            </ul>
                        </footer>
                    </article>
                </li>
            )
        })}
    </ul>
</Section>

<style>

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        letter-spacing: normal;
    }

    li {
        margin-bottom: 10px;
    }

    article {
        padding: 0;
        margin: 0;
    }

    header {
        display: flex;
        justify-content: space-between;
        gap: 20px; /* Espacio mínimo entre elementos */
        align-items: flex-start;
    }
    .job-info {
        flex-grow: 1; /* Ocupa todo el espacio disponible */
        min-width: 0; /* Permite que el contenido se ajuste */
    }


    .description-skills {
        font-family: Menlo, Monaco, Lucida Console, 'Courier New', Courier, monospace;
        line-height: 1.4; /* Añade esta línea para igualar el line-height */
        color: #444;
        margin-bottom: 5px;
    }
    .name-skills {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .job-info h3 {
        margin: 0;
        font-weight: 450;
        color: #111;
        line-height: 1.2;
        font-size: 1rem; /* Establece el tamaño de la fuente */
    }

    .skills {
        display: inline-flex;
        gap: 8px;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        font-size: 0.75rem; /* Tamaño de fuente más pequeño */
    }

    .skills span {
        border-radius: 6px;
        background-color: #dfdfdf;
        color: #444;
        font-size: 0.70rem; /* Tamaño de fuente más pequeño */
        font-weight: 500;
        padding: 0.2rem 0.4rem;
    }

    .job-info h4 {
        margin: 6px 0 8px 0;
        font-weight: 390;
        color: #333;
        line-height: 1.2;
        font-size: 0.85rem;
    }

    h3 {
        margin: 0;
        font-weight: 450;
        color: #111;
        line-height: 1.2;
        font-size: 1rem; /* Establece el tamaño de la fuente */
    }

    h4 {
        margin: 6px 0 8px 0;
        font-weight: 390;
        color: #333;
        line-height: 1.2;
        font-size: 0.85rem;
    }

    time {  
        color: #555;
        white-space: nowrap;
        text-align: right;
        margin-inline-end: 0; 
        margin-top: 0; 
        margin-bottom: 0; 
        align-self: flex-start; 
        font-family: roboto, space mono, monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        /* letter-spacing: -0.02em; */
        font-size: 1rem;
        flex-shrink: 0; 
        margin-left: 10px; 
    }

    p{
        margin: 0;
        line-height: 1.4;
        color: #555;
    }

    @media (max-width: 700px) {
        header {
            gap: 8px;
            flex-wrap: wrap;
        }

        .name-skills {
            flex-direction: column;
            align-items: flex-start; 
            gap: 4px;
            width: 100%;
        }

        .skills {
            order: 1;
            margin-top: 4px;
            justify-content: flex-start; 
            width: 100%; 
        }

        .job-info {
            text-align: left; 
        }

        time {
            margin-left: 0;
            /* Mantiene el time pegado a la derecha */
            margin-top: 0 !important;
        }
    }


</style>