---
 import Section from "@/components/Section.astro"
 import {skills} from "@cv"
---
<Section title="Habilidades">
        <!-- <ul>
            {skills.map (({name, level, keywords}) => (
                    <ul class="keywords" class={`skill-level ${level.toLowerCase()}`}>
                    {keywords.map((keyword, index) => (
                        <li key={index} >
                            <span >{keyword}</span>
                        </li>
                    ))}
                </ul>
                ))
            }
        </ul> -->
        <div class="skills-container">
            {skills.map(({ name, level, keywords }) => (
                <div class={`skills-group ${level.toLowerCase()}`}>
                    <h4>{name}</h4>
                    <ul class="skills-list">
                        {keywords.map((keyword) => (
                            <li class={`skill ${level.toLowerCase()}`}>
                                <span>{keyword}</span>
                            </li>
                        ))}
                    </ul>
                </div>
            ))}
        </div>
</Section>

<style>

    h4 {
        margin: 6px 0 8px 0;
        font-weight: 390;
        color: #333;
        line-height: 1.2;
        font-size: 0.85rem;
    }
    section {
        padding: 0;
        margin: 0;
    }

    .skills-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .skills-group {
        display: flex;
        flex-direction: column;
    }


    .skills-list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .skill {
        border-radius: 6px;
        background-color: #dfdfdf;
        color: #444;
        font-size: 0.8rem;
        font-weight: 500;
        padding: 0.2rem 0.6rem;
    }

    .skill.experto {
        background-color: #4d4d4d; 
        color: #fff;
    }

    .skill.intermedio {
        background-color: #777777; 
        color: #fff;
    }

    .skill.basico {
        background-color: #cccccc;
        
        color: #272727;
    }
</style>