---
import {basics} from '@cv'

const {name, label, image, location, profiles, phone, email} = basics
const { city, region } = location
---

<section>
    <div class="container">
        <div class="info">
            <h1>{name}</h1>
            <h2>{label}</h2>
            <span>
                 <!--Robar icono -->
                 {city}, {region}
            </span>
            <footer>
                {
                    email && (
                        <a href={`mailto:${email}`}
                        title={`Enviar un correo electrónico a ${name} al correo ${email}`}
                        target="_blank"
                        rel="noopener noreferrer"
                        >
                            <!--Robar icono -->
                        </a>
                    )
                }
            </footer>
        </div>
        <figure>
            <img src={image} alt={name} class="foto-perfil"/>
        </figure>
    </div>
</section>

<style>

    .foto-perfil {
        width: 300px;
        height: auto;
    }

    .container {

    }
</style>